{% extends "base.html" %}

{% block content %}

<section class="centered">
    <form action="/" method="POST">
        <label for="user_input">Enter a Letter:</label>
        <input type="text" name="letter" id="user_input">
        <button>Guess!</button>
    </form>
</section>

<h2>{{ message }}</h2>

    <section class="centered">
  {% if tries == 1 %}
        <img src="{{ url_for('static', filename='flower9.png') }}">
  {% elif tries == 2 %}
        <img src="{{ url_for('static', filename='flower8.png') }}">
  {% elif tries == 3 %}
        <img src="{{ url_for('static', filename='flower7.png') }}">
  {% elif tries == 4 %}
        <img src="{{ url_for('static', filename='flower6.png') }}">
  {% elif tries == 5 %}
      <img src="{{ url_for('static', filename='flower5.png') }}">
  {% elif tries == 6 %}
      <img src="{{ url_for('static', filename='flower4.png') }}">
  {% elif tries == 7 %}
      <img src="{{ url_for('static', filename='flower3.png') }}">
  {% elif tries == 8 %}
      <img src="{{ url_for('static', filename='flower2.png') }}">
  {% elif tries == 9 %}
      <img src="{{ url_for('static', filename='flower1.png') }}">
  {% elif tries == 10 %}
      <img src="{{ url_for('static', filename='flower0.png') }}">
    {% endif %}
    </section>

<section class="centered">


  <h2>{{word_completion | join(' ')}}</h2>
  <h3>Letters Guessed: {{ session['guessed_letters'] | join(', ') }}</h3>
  <h3>Guesses Remaining: {{session['tries']}} </h3>

  {% if session['word_completion'] == word %}
  <form action="/reset" method="POST">
      <button type="submit">Play again!</button>
  </form>
  {% endif %}

  {% if session['tries'] <= 0 %}
    <form action="/reset" method="POST">
        <button type="submit">Play again!</button>
    </form>
  {% endif %}


</section>
</body>
</html>

{% endblock %}